<div class="row">
	<h2 class = "ta-center ff-pacifico">
  		Perfil
	</h2>
	<div class="col-12">
		<form [formGroup]="myForm" >

		    <div class="form-group" >
		    	<input type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario" 
		    	[readonly]="true">

				<input type="text" class="form-control" formControlName="name" placeholder="Nombre" [readonly]="true">

			    <input type="text" class="form-control" formControlName="lastname" placeholder="Apellido" [readonly]="true">
				
				<input type="text" class="form-control" formControlName="gender" [readonly]="true">
			

		        <input type="date" class="form-control" formControlName="birthdate" placeholder="Fecha de Nacimiento" [readonly]="true">

			    <input type="email" class="form-control" formControlName="email" placeholder="Correo" [readonly]="true">			

			    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" >
			    <div class="alert alert-danger" *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched ">Tu debes colocar un contraseña válida (6 caracteres mínimos).</div>
		    </div>
	
		    <div align="center">
			    <button id = "register" type="submit" class="btn btn-default" [disabled]="!myForm.valid">Editar</button>
			    <button id = "back" class="btn btn-default" routerLink="/" routerLinkActive="active">Regresar</button>
   
		    </div>
		</form>
	</div>
</div>