<div class="row">
	<div class="col-12">
		<form [formGroup]="myForm" (ngSubmit)="log()">

		    <div class="form-group" >

			    <input type="email" class="form-control" formControlName="mail" placeholder="Correo">
			
		        <div class="alert alert-danger" *ngIf="!myForm.controls['mail'].valid &&myForm.controls['mail'].touched ">Tu debes colocar un correo valido.</div>

			    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" >
			    <div class="alert alert-danger" *ngIf="!myForm.controls['password'].valid &&myForm.controls['password'].touched ">Tu debes colocar un contraseña valida.</div>
		    </div>
	
		    <div align="center">
			    <button id = "login" type="submit" class="btn btn-default" [disabled]="!myForm.valid">Iniciar Sesion</button>
			    <button id = "back" class="btn btn-default" routerLink="/" routerLinkActive="active">Regresar</button>
   
		    </div>
		</form>
	</div>
</div>