<div class="row">
<div class="col-6">
	<div class="table-responsive"  >
		<table class="table-bordered">
			<thead>
				<th> Nombre </th>
				<th> Precio </th>
				<th> Imagen </th>
			</thead>
			<tbody>
				<tr *ngFor="let p of products" (click)="product.show(p.id)" > 
					<td> {{ p.name }} </td>
					<td>  {{ p.price }} $ </td>
					<td>  <img class="img-thumbnail img-responsive" width="100px" src="{{p.img}}"/> </td>
				</tr>
			</tbody>

		</table>

	</div>
</div>

<div class="col-6">
	
	<product-show #product (Refresh)="refresh()" (Edit)="editar($event)"> </product-show>
	

</div>
</div>