<div class="row">
	<h2 class = "ta-center ff-pacifico">
  		Agregar Producto
	</h2>
<div class="col-12">
	<form [formGroup]="myForm" (ngSubmit)="new()" class = "formulario">

	    <div class="form-group" >

		    <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
		    <br>
		    <input type="number" class="form-control" formControlName="price" placeholder="Precio" min="0" >
		    <br>
		    <input type="text" class="form-control" formControlName="description" placeholder="Descripcion">
		    <br>
		    <input type="text" class="form-control" formControlName="img" placeholder="Imagen URL">
		    <br>
		    <input type="number" class="form-control" formControlName="sell" placeholder="Nro de vendidos" min="0">
		    <br>
		    <select class="form-control" formControlName="category">
		    	<option value="">Categoría</option>
		    	<option value="Camisas">Camisas</option>
		    	<option value="Correas">Correas</option>
  				<option value="Gorras">Gorras</option>
  				<option value="Pantalones">Pantalones</option>
  				<option value="Zapatos">Zapatos</option>
 			</select>
	    </div>
	    <div align="center">
	    <button id = "create" type="submit" class="btn btn-success" >Crear</button>
	    <button id = "edit" type="reset" class="btn btn-success" style="display: none" (click)="this.edit(this.ide)">Editar</button>

	    
	    </div>

	</form>
</div>
</div>
<br>
	<products-list (Editar)="mostrar($event)" > </products-list>




