<div class="row">
<div class="col-12">
	<form [formGroup]="myForm" (ngSubmit)="new()">

	    <div class="form-group" >

		    <input type="text" class="form-control" formControlName="name" placeholder="Nombre" required="required" >
		    <input type="text" class="form-control" formControlName="price" placeholder="Precio" required="required">
		    <input type="text" class="form-control" formControlName="description" placeholder="Descripcion" required="required">
		    <input type="text" class="form-control" formControlName="img" placeholder="Imagen URL" required="required">
		    <input type="number" class="form-control" formControlName="sell" placeholder="Nro de vendidos" min="0" required="required">
		    <select class="form-control" formControlName="category" required="required">
		    	<option value="">Categoría</option>
		    	<option value="Camisas">Camisas</option>
		    	<option value="Correas">Correas</option>
  				<option value="Gorras">Gorras</option>
  				<option value="Pantalones">Pantalones</option>
  				<option value="Zapatos">Zapatos</option>
 			</select>
	    </div>
	    <div align="center">
	    <button id = "create" type="submit" class="btn btn-default" >Crear</button>
	    <button id = "edit" type="reset" class="btn btn-default" style="display: none" (click)="this.edit(this.ide)">Editar</button>

	    
	    </div>

	</form>
</div>
</div>
<br>
	<products-list (Editar)="mostrar($event)" > </products-list>
	<p-messages [value]="msgs"></p-messages>




