<div class="row">
<div class="col-12">
	<form [formGroup]="myForm" (ngSubmit)="new()">

	    <div class="form-group" >

		    <input type="text" class="form-control" formControlName="name" placeholder="Nombre" >
		    <input type="text" class="form-control" formControlName="price" placeholder="Precio" >
		    <input type="text" class="form-control" formControlName="description" placeholder="Descripcion" >
		    <input type="text" class="form-control" formControlName="img" placeholder="Imagen URL" >

	    </div>
	    <div align="center">
	    <button id = "create" type="submit" class="btn btn-default" >Crear</button>
	    <button id = "edit" type="reset" class="btn btn-default" style="display: none" (click)="this.edit(this.ide)">Editar</button>

	    
	    </div>

	</form>
</div>
</div>
<br>
	<products-list (Editar)="mostrar($event)" > </products-list>



